.footer{
    background-color: $secondary-black;
    z-index: 2000;
    position: absolute;
    left: 0;
    right: 0;
    @include xs{
        padding: 40px 16px 40px 16px;
    }
    @include xl{
        padding:40px 100px;
        padding-left: 100px;
    }
    .footer-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include rwd(300,600){
            font-size: $xxsmall-font;
        }
        @include msm{
            font-size: $small-font;
        }
        @include md{
            margin: 0 50px;
        }
        @include mmd{
            font-size: $regular-font;
            margin: 0 100px;

        }
        @include xl{
            margin: 0 140px;
            font-size: $title-font;
        }
        a{
            text-decoration: none;
            
        }
        .MuiListItem-root{
            width: auto;
            color: #928d8d;            
        }
        .MuiListItem-gutters{
            padding: 8px 6px;
            @include md{
            padding: 8px;
            }
        }
    }
    hr{
        color: #928d8d;
        border-style: solid;
            height: 0px;
            border-bottom: 0;
            border-right: 0;
            border-left: 0;
            padding-bottom: $regular-font;
            @include md{
                margin: 0 50px;
            }
            @include rwd(960,1199){
                margin: 10px 100px;
            }
            @include xl{
                margin: 15px 140px;
            }
    }
    .contact-number{
        color: #928d8d;
        text-align: center;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .copyright{
        color: #928d8d;
        display: flex;
        justify-content: space-between;
        font-size: $xxsmall-font;
        @include rwd(300,600){
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
        }
        @include md{
            margin: 0 50px;
        }
        @include rwd(960,1199){
            margin: 0 100px;
        }
        @include xl{
            margin: 0 140px;
            font-size: $xxsmall-font;
        }
        .social-container{
            // width: 110px;
            width: 80px;
            
            display: flex;
            justify-content: space-between;
            @include rwd(300,600){
               margin-bottom: 16px;
            }
            img{
                width: 18px;
                height: 18px;

            }
        }
    }
}