*{
  margin: 0px; 
}
#sidebar{
  background-color: $primary-black;
  width: 100vw;
  height: 70px;
  top: 0;
  position: fixed;
  transition: all .8s ease;
  -webkit-transition: all .8s ease; 
  z-index: 1000;
  cursor: pointer;
  @include xl{
    width: 70px;
    height: 100vh;
  }
  .sidebar-logo-container{
    text-align: center;
    margin-top: 20px;
    img{
      width: 35px;
    }
    display: none;
    @include xl {
      display: block;
    }
  }
  .sidebar-title{
    font-weight: 100;
    font-family: $baskerville;
    letter-spacing: 1px;
    display: none;
    text-transform: capitalize;
    white-space: nowrap;
    @include xl{
      transform: rotate(-90deg);
      position: absolute;
      color: white;
      right: 0;
      left: 0;
      font-size: $large-font;
      top: 55%;
      display: block;
    }
  }
  .sidebar-logo{
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .sidebar-logo-desktop{
    @extend .sidebar-logo;
    width: 15px;
  }
  .desktop-logo{
    display: none;
    @include xl{
      display: block;
    }
  }
  .mobile-logo{
    display: block;
    @include xl{
      display: none;
    }
  }
}
#navigation-menu {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: height .5s;
  transition: height .5s;
  @include xl{
    height: 100%;
  }
  color: #fff;
  overflow: hidden;
  @include xl{
    -webkit-transition: width .8s;
    transition: width .8s;
  }
  
  z-index: 999;
  }
  .background-image{
    height: auto;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    position: absolute;
    z-index: -1;
    top: 70px;
    @include msm{
      transform: translate3d(-80px, 60px, 0px)
    }
    @include xl{
      opacity: 1;
      top:-70px;

    }
  }
  .main-title{
    position: relative;
    z-index: 1;
    padding-top: 40px;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 60px;
    @media(max-height:600px){
      margin-bottom: 0px;
    }
    @include xl{
      left: 160px;
      top: 50%;
      position: absolute;
      text-align: left;
      margin-bottom: 0;
    }
    @include rwd(1200,1400){
      left: 40px;
      text-align: left;
    }
    @media (orientation:landscape) and (max-height:500px) and (max-width:840px) {
      left: 40px;
      top: 40%;
      text-align: left;
    }
    img{
      @include rwd(768,1200){
        width: 600px;
        }
      @include rwd(320,599){
        width: 300px;
      }
        
      @include rwd(600,767){
        width: 500px;
      }
        
      @include xl{
        width: 478px;
      }
      @media (orientation:landscape) and (max-height:500px) and (max-width:840px) {
        width: 200px;
      }
       
      }
    }
.main-container{
    .menu-opened{
      background-color: #000;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100%;
      height: 100vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      
    }      
}
.menu-items{
  text-align: center;
  z-index: 2;
  font-size: $xlarge-font;
  font-weight: 100;
  li{
    cursor: pointer;
  }
  @include xl{
    display: flex;
    justify-content: flex-end;
    top: 30%;
    position: relative;
    font-size: $large-font;
    right: 10%;
  }
  @include rwd(1200,1400){
    right: 5%;
  }
  @media (orientation:landscape) and (max-height:600px) and (max-width:840px) {
    font-size: small;
    padding-right: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 5px;
    margin: auto;
  }
  @media (min-height:1024px) and (max-width:1024px) {
    font-size: $xxlarge-font;
  }
  .MuiListItem-root{
    justify-content: center;

    @include xl{
      justify-content: flex-start;
    }
  }
  .logo-container{
    margin-bottom: 20px;
    @media(orientation:landscape) and (max-width:600px){
      margin-bottom:0;
    }
  }
  .social-container{
    // width: 140px;
    width: 80px;
    display: flex;
    justify-content: space-between;
    // margin-top: 20px;
    margin-top: 0px;
    a{
      cursor: pointer;
      img{
        width: 22px;
        @include xl{
          width: 18px;
        }
      }
    }
  }
  a{
    text-decoration: none;
    color: white;
  }
}


.main-copyright{
  position: absolute;
  text-align: center;
  font-size: 12px;
  z-index: 1;
  left: 0;
  top: 90%;
  display: none;
  font-family: $baskerville;
  color: $primary-grey;
  letter-spacing: 1px;
  @include xl{
    font-size: 14px;
    width: auto;
    text-align: left;
    height: auto !important;
    bottom: 15px;
    left: 160px;
    display: block;
  }
  @include rwd(1200,1400){
    left: 40px;
  }
  p{
    margin-top: 50px;
    color: #adaeaf;
    font-weight: 100;
  }
}
       

.pageOpen{
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  width: 100%;
  height: 100%;
}
.pageClose{
  height: 70px;
  @include xl{
    width: 70px;
  }
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
.sidebarClose {
  transform: translateY(0px);
  @include xl{
  transform: translateX(0px);

  }
}

.sidebarOpen {
  transform: translateY(-70px);
  @include xl{
  transform: translateX(-70px);

  }
}
#current-page {
  color: $primary-black; 
  top: 0;
  margin-left: 0;
  // overflow: auto;
  left: 0;
  right: 0;
} 
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}