@font-face
{
    font-family:"Bodoni Italic";
    font-family:"Bodoni Italic";
    src:url(../../fonts/BOD_I_0.TTF) format("truetype");
}
@font-face
{
    font-family:"Gotham Book";
    src:url(../../fonts/gotham-book.otf) format("opentype");
}
@font-face{
    font-family:"Baskerville";
    src:url(../../fonts/TT0031C0.TTF) format("truetype");
    font-weight: 200;
}
*:focus{
    outline: none;
}
body{
    -webkit-font-smoothing: antialiased;
    font-family: $baskerville;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-rendering: optimizeLegibility;
    -webkit-overflow-scrolling: none;
    overflow-x: hidden;
    scrollbar-base-color: silver;
    scrollbar-arrow-color: #454545;
    scrollbar-face-color: #454545;
    scrollbar-3dlight-color: #16110e;
    scrollbar-darkshadow-color: #16110e;
    scrollbar-highlight-color: #16110e;
    scrollbar-shadow-color: #16110e;
    scrollbar-track-color: #16110e;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    padding-top: 0;
    &::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        background: $primary-brown; 
      }
       
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $primary-grey; 
      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $primary-black; 
      }
}
.container{
    @include xs{
        padding: 40px 16px 80px 16px;
    }
    @include xl{
        padding: 40px;
        padding-left: 80px;
    }
}

// Typography
.justify{
    text-align: justify;
}
.text-right{
    text-align: right;
    padding-right: 70px;
}
.text-left{
    text-align: left;
}


// Gutters
.MuiGrid-spacing-xs-2.MuiGrid-root{
    width: 100%;
    margin: 0;
}

.no-scroll{
    overflow: hidden;
    position: fixed;
    height: 100%;
}
.scroll{
    overflow: unset;
    position: relative;
    height: 100%;
}

// Images Display
.mobile{
    display: block !important;
@include msm{
    display: none !important;
}
}
.tablet-only{
    display: none !important;
    @include msm{
        display: block !important;
    }
}
.desktop{
    display: none;
    @include md{
        display: block;
    }
}
.tablet{
    display: none;
    @include rwd(600,768){
        display: block;
    }
}

.fade-appear, .fade-enter{
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,.fade-enter.fade-enter-active{
    opacity: 1;
    transition: opacity 600ms linear 200ms;

}
.fade-exit{
    opacity: 1;
}
.fade-exit.fade-exit-active{
    opacity: 0;
    transition: opacity 150ms linear;

}