.about{

        .banner{
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        height: auto;
        padding-top: 70px;
        position: relative;
        @include xl{
            left: 70px;
        }
        .about-banner{
            position: relative;
            height: 0;
            /* Formula is: (height / width * 100%) */
            padding-top: calc(360/ 360 * 100%);
            img{
                position: absolute;
                top: 0;
                left: 0;
                max-width: 100%;
                height: auto; 
            }
        }
        @include md{
            padding-top: 0;
            position: fixed;
            padding-top: 0;
            height: 100%;
        }
        @include xxl{
            height: auto;

        }
        
        @media (min-height:1080px) and (min-width:1600px) {
            height: auto;
        }
        @media (min-height:768px) and (min-width:1200px) {
            height: auto;
        }
        @include rwd(1920,2200){
            height: 100%;
        }
        }
        .about-text-container{
            padding-top: 0;
            padding-bottom: 0   ;
            @include xl{
                padding-left: 70px;
            }
            .overlay{
                background: rgba(0,0,0,0.6);
                position: fixed;
                z-index: -1;
                height: 100vh;
                width: 100%;
                display: none;
                @include md{
                    width: 50%;
                    display: block;
                }
            }
            .about-grid{
                height: 100%;
                width: 100%;
                padding-top: 20px;
                @include md{
                    padding-top: 80px;
                    height: 100%;
                    width: 50%;
                }
                @include xxl{
                    padding-bottom: 260px;
                }
                @include xxxl{
                    padding-bottom: 650px;
                }
                @media (max-height:1366px) and (max-width:1024px) and (min-width:768px){
                    padding-bottom: 420px;
                }
                .about-text{
                    padding: 32px 0;
                    padding-bottom: 20px;
                    color: black;
                    @include md{
                        padding: 0 60px 40px 80px;
                        font-size: $small-font;
                        color: $primary-white;
                    }
                    @include xl{
                        padding: 0 60px 40px 100px;
                        font-size: $regular-font;
                    }
                    @include xxl{
                        font-size: $title-font;
                    }
                    h2{
                        font-size: $regular-font;
                        font-family: $baskerville;
                        margin-bottom: $title-font;
                        @include md{
                            font-size: $title-font;
                        }
                        @include xl{
                        font-size: $large-font;
                        }
                        @include xxxl{
                            font-size: $xlarge-font;
                        }
                    }
                    p{
                        font-family: $gotham;
                        // font-size: $small-font;

                    }
                }
            } 
            }
}