.artist{
    padding-top: 70px;
    @include xl{
        padding-bottom: 0;
        padding-top: 0;
    }
    .artist-banner{
        position: relative;
        height: 0;
        /* Formula is: (height / width * 100%) */
        padding-top: calc(360/ 360 * 100%);
        @include msm{
            padding-top: calc(142/ 360 * 100%);

        }
        .banner{
            vertical-align: bottom;
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            height: auto; 
        }
    }
    .artist-content{
        .quote-container{
            display: flex;
            justify-content: center;
            background-color: $secondary-black;
            color: $primary-white;
            padding: 60px 0 40px;
            font-size: $xsmall-font;
            @include rwd (300, 370){
                font-size: $xxsmall-font;
            }
            @include msm{
                font-size: $regular-font;
            }
            @include mmd{
                font-size: $large-font;
            }
            .quote{
                font-family: $baskerville;
                h2{
                    font-weight: 200;
                    letter-spacing: 1px;
                    font-size: $small-font;
                    @include md{
                        font-size: $large-font;
                    }
                }
                &:first-child{
                    text-align: center;
                }
                & h2:last-child{
                    font-style: italic;
                    font-family: $bodoni-italic;
                }
                .text-center{
                    text-align: center;
                }
            }
        }
        .artist-text{
            padding: 0;
            @include mmd{ 
                padding-right: 80px;
            }
        }
        .promise-container{
            @extend .quote-container;
            padding: 80px 0 60px;
            background-color: $primary-brown;       
            .promise{
                text-align: center;
                margin: 0 15%;
                h2{
                    font-weight: 200;
                    letter-spacing: 1px;
                    font-size: $small-font;
                    @include md{
                        font-size: $large-font;
                    }
                }
            }
        }
    }
}