.collection-container{
    padding-top: 70px;
    @include xl{
        padding-left: 70px;
        padding-top: 0;
    }
    .collection-grid{
        height: 100vh;
        width: 100vw;
        @include xl{
            width: calc(100vw - 90px);
        }
        .diamonds-side{
            background-color: $secondary-black;
            color: $primary-white;
            .diamonds-side-content{
                letter-spacing: 2px;
            }
            .collection-link{
                letter-spacing: 1px;
                font-size: $xsmall-font;
                font-family: $gotham;
                text-align: center;
                border-bottom: 2px solid;
                @include xs{
                    margin: 0 40px;
                }
                @include msm{
                    margin-left: 70px;
                }
                @include xl{
                    margin-left: 140px;
                }
            }
            hr{
                border-width: .9px;
                @include xs{
                    margin-left: 0;
                    margin-right: 45px;
                    }
                    @include msm{
                        margin-left: 70px;
                        margin-right: 0;
                    }
                    @include xl{
                        margin-left: 140px;
                    }
            }
        }
        }
        .uncut-side{
            background-color: $primary-white;
            color: $secondary-black;
            .uncut-side-content{
                margin-bottom: 40px;
                @include xs{
                    text-align: center;
                }
                @include msm{
                    text-align: inherit;
                }
                .seperate-title{
                    @include msm{
                        margin-left: 60px;
                    }
                    .collection-link{
                        letter-spacing: 1px;
                        font-size: $xsmall-font;
                        font-family: $gotham;
                        text-align: center;
                        border-bottom: 2px solid;
                        @include xs{
                            margin: 0 40px;
                        }
                        @include msm{
                            margin-right: 85px;
                        }
                        @include xl{
                            margin-left: 140px;
                        }
                    }
                    hr{                 
                        margin: 0 12px;
                        border-width: .9px;
                        @include msm{
                            margin: 0 92px 0 0;
                        }
                    }
                }
            }
        }
        .diamonds-side,.uncut-side{
            display: flex;
            justify-content: center;
            align-items: center;
            h2{
                font-size: 40px;
                @include xl{
                    font-size: $xxlarge-font;
                }
                font-weight: 200;
                line-height: .8;
                font-family: $baskerville;
            }
            a{
                color: $primary-brown;
                text-decoration: none;
                text-transform: uppercase;
                transition: 0.4s;
                padding-left: 0;
                cursor: pointer;
                p{
                // border-bottom: 1px solid $primary-brown;
                // &:hover{
                //     transition: 0.4s;
                //     padding-left: 7px;
                // }
                }
            }
            .diamond-title{
                margin-bottom: 25px;
            }
    }
}