.contact{
    @media (orientation:landscape) and (max-width:900px) {
    padding-top: 120px;
        
    }
    @include xl{
        width: calc(100vw - 127px);
        padding-top: 120px;
    }
    @extend .container;
    @include xl{
        padding-left: 70px;
    }
    @include xxl{
        padding-top:220px;
    }
    @include xxxl{
        padding-top: 265px;
    }
    .contact-box{
        left: 0;
        right: 0;
        padding: 40px 16px;
        h2{
            font-weight: 200;

            @include mmd{
                font-size: 38px;
            }
        }
        @include msm{
            padding: 180px 60px;
        }
        
        @include md{
            padding: 240px 120px 140px;
            margin: auto;
        }
        @include xl{
            padding: 0 160px 140px 200px;
            margin: auto;
        }
        @include xxxl{
            padding-bottom: 340px;
        }
        .contact-grid{
            margin: 1px;
            .contact-field-container{
                margin-bottom: 20px;
                padding-right: 0;
                @include xxxl{
                    margin-bottom: 80px;
                }
                .MuiTextField-root{
                    width: 100%;
                    text-transform: uppercase;
                    .MuiFormLabel-root{
                        text-transform: uppercase;
                        color: $primary-black;
                    }
                    .MuiInputBase-input{
                        text-transform: uppercase;
                        &::placeholder{
                            color: $primary-black;
                            opacity: 1;
                        }

                    }
                    .MuiFormLabel-root.Mui-focused{
                        color: $primary-grey;
                    }
                }
                .MuiSelect-select:focus{
                    background-color: white;
                }
                
                .MuiInput-underline:after{
                    border-bottom: 2px solid $primary-grey;
                }
            }
            textarea{
                width: 100%;
                margin-top: 20px;
                border: .5px solid $primary-grey;
                &:focus{
                    border: .5px solid $primary-black;
                }
            }
        }
        .button-row{
            display: flex;
            justify-content: space-between;
            padding-left: 8px;
            .MuiButton-label{
                border-bottom: 1px solid $primary-black;
            }
            .MuiTypography-root{
                font-size: $xsmall-font;
            }
            .MuiCheckbox-colorPrimary.Mui-checked{
                color: $primary-black;
            }
        }
        .contact-number{
            text-align: center;
            display: block;
            margin: 20px;
            font-size: 18px;
            border: 2px solid $primary-brown;
        }
    }
}