.press{
    padding-top: 100px;
    @include xl{
        padding-left: 70px;
        padding-top: 20px;
    }
    @include xxl{
        padding-bottom: 200px;
    }
    @include xxxl{
        padding-bottom: 400px;
    }
    .press-container{
        padding: 20px 16px;
        @include xl{
            padding: 150px;
        }
        h2{
            color: $secondary-black;
            margin-bottom: 16px;
        }
        img{
            width: 100%;
            border: 5px solid $primary-brown;
            border-radius: 18px;
        }
    }
}