.testimonial{
    padding-top: 70px;
    width: 100vw;
    padding-bottom: 140px;
    @include xl{
        padding-top: 0;
        padding-bottom: 280px;
    }
    @include xxl{
        padding-bottom: 340px;
    }
    @media (max-width: 768px) and (min-height: 1024px){
    padding-bottom: 340px;

    }
    .testimonial-banner{
        position: relative;
        height: 0;
        /* Formula is: (height / width * 100%) */
        padding-top: calc(101.5/ 360 * 100%);
        .banner{
            vertical-align: bottom;
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            height: auto; 
        }
    }
    .testimonial-content{
        padding-bottom: 40px;
        font-size: $small-font;
        @include xl{
        padding-left: 70px;
        padding: 20px;
        padding-top: 40px;
        }
        @include xxl{
            padding-top: 80px;
        }
        @include xxxl{
            padding-bottom: 100px;
        }
        .slider-container{
            text-align: center;
            padding-top: 120px;
            .slider-text-container{
                color: $primary-brown;
                font-family:    $baskerville ;
                
                @include rwd(300,600){
                    max-width: 300px;
                    font-size: $small-font;
                }
                @include md{
                    max-width: 550px;
                    font-size: $title-font;
                }
                @include lg{
                    max-width: 700px;
                    font-size: $large-font;
                }
                @include xl{
                    font-size: $large-font;
                    max-width: 900px;
                }
                @include xxl{
                    font-size: $xlarge-font;
                    max-width: 1200px;
                }
                .person{
                    margin-top: 40px;
                    text-transform: uppercase;
                    font-style: italic;
                }
            }

            .slick-slider{

                @include rwd(300, 768){
                    padding: 0 40px;
                }
                @include mmd{
                    padding: 20px 40px 0;
                }
                .slick-arrow{
                    position: absolute;
                    top: 30%;
                    width: 40px;
                    z-index: 2;
                    &:hover{
                        cursor: pointer;
                    }
                    img{
                        width: 15px;
                    }
                }
                .left-arrow{
                    @include xs{
                        left: 0;
                    }
                    @include md{
                        // left: -10px;
                        left: 50px;
                    }
                    @include mmd{
                        left: 130px;

                    }
                    @include rwd(1200,1300){
                        left: 80px;
                    }
                   
                }
                .right-arrow{
                    @include xs{
                        right: 0;
                    }
                    @include md{
                        right: 50px;

                    }
                    @include mmd{
                        right: 130px;

                    }
                    
                    @include rwd(1200,1300){
                        right: 80px;
                    }
                    
                }
            }
        }
    }
}