.uncut-diamonds{
    @include rwd(300,1200){
        padding-top: 69px;
    
        }
        @include xl{
            padding-left: 70px;
            padding-top: 0;
        }
        .collection-outlink{
            position: absolute;
            top: 72px;
            z-index: 2;
            color: white;
            border-bottom: 1px solid $primary-brown;
            transition: $transition-main;
            font-size: $xsmall-font;
            right: 20px;
            @include xl{
                top: 50px;
            }
            &:hover{
                border-bottom: 2px solid $primary-brown;
                transition: $transition-main;
            }
        }
        .desktop-version{
            display: none;
            @include msm{
                display: flex;
            }
        }
        .mobile-version{
            display: flex;
            @include msm{
                display: none;
            }
        }
        .large-slider-container{
            position: relative;
            height: 0;
            padding-top:calc(240/ 360 * 100%);
            @include msm{
                padding-top:calc(180/ 360 * 100%);
            }
            @include rwd(300,599){
                margin-bottom: 0;
            }
            .slick-list{
                height: 100vh;
                @include rwd(300,599){
                    height: 100%;
                }
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                max-width: 100%;
                height: auto; 
            }
            
        }
        .small-slider-container{
            margin-top: 0;
            padding: 20px 60px;
            @include msm{
                margin-top: 40px;
            }
            @include rwd(600,700){
                padding: 20px 80px;
            }
            @include rwd(701,768){
                padding: 20px 180px;
            }
            @include rwd(769,850){
                padding-left: 80px;
            }
            @include rwd(851,960){
                padding: 20px 40px;
                padding-left: 120px;
            }
            @include rwd(960,1199){
                padding: 20px 80px;
                padding-left: 110px;
            }
            @include rwd(1200,1399){
                padding: 20px 100px;
                padding-left: 100px;
            }
            @include rwd(1400,1600){
                padding: 20px 160px;
                padding-left: 200px;
            }
            @include rwd(1601,2600){
                padding: 20px 200px;
                padding-left: 300px;
            }
            .slick-list{
                height: 100%;
            }
            .left-arrow,.right-arrow{
                position: absolute;
                top: 30%;
                width: 40px;
                z-index: 2;
                @include md{
                    top: 40%;
                }
                &:hover{
                    cursor: pointer;
                }
                img{
                    width: 15px;
                }
            }
            .left-arrow{
                @include xs{
                    left: -25px;
                }
                @include msm{
                    left: -40px;
                }
                @include rwd(700,768){
                    left: -25px;

                }
               
            }
            .right-arrow{
                @include xs{
                    right: -50px;
                }
            }
            .small-slider{
                img{
                    width: 200px;
                    height: 200px;

                    margin: auto;
                    @include rwd(300,600){
                        margin: auto;
                    }

                    @include rwd(701,768){
                        width: 400px;
                        height: 400px;

                    }
                    @include rwd(769,961){
                        width: 300px;
                        height: 300px;

                    }
                    @include rwd(961,1199){
                        width: 250px;
                        height: 250px;

                    }
                    @include rwd(1200,1800){
                        width: 300px;
                        height: 300px;

                    }
                    @include rwd(1800,2500){
                        width: 400px;
                        height: 400px;

                    }
                }
                .small-slider-content{
                    text-align: center;
                    padding-top: 20px;
                    h2,p{
                        font-size: $regular-font;
                        font-family: $gotham;
                        font-weight: 100;
                    }
                }
            }
        }
        .slick-left-arrow{
            background-color: $primary-brown;
            width: 40px;
            height: 40px;
            text-transform: uppercase;
            position:fixed;
            z-index: 3;
            top: 50%;
            left: 0;
            justify-content: center;
            align-items: center;
            color: white;
            letter-spacing: 2px;
            font-size: $xxxsmall-font;
            cursor: pointer;
            @include msm{
                font-size: $xxsmall-font;
                width: 60px;
                height: 60px;
            }
            @include xl{
                left: 70px;
            }
        }
        .slick-right-arrow{
            background-color: $primary-brown;
            width: 40px;
            height: 40px;
            text-transform: uppercase;
            position:fixed;
            z-index: 3;
            top: 50%;
            right: 0;
            justify-content: center;
            align-items: center;
            color: white;
            letter-spacing: 2px;
            font-size: $xxxsmall-font;
            cursor: pointer;
            @include msm{
                width: 60px;
                height: 60px; 
                font-size: $xxsmall-font;
            }
        }
        
        .banner{
            @media (orientation:landscape) and (max-width: 767px) and (min-height:450px){
                padding-top: 70px;
            }
            @media (min-width:300px) and (max-width:1600px) and (orientation:portrait){
            height: 100%;
            }        
        }
        .banner-content{
            position: absolute;
            z-index: 2;
            bottom: 20%;
            color: white;
            @media (min-width:300px) and (max-width:599px) and (orientation:portrait){
                position: relative;
                text-align: center;
                margin-top: 40px;
                margin-bottom: 40px;
                color: $primary-black;
                font-size: $xsmall-font;
                padding: 0 16px;
                
            }
            @include rwd(600,959){
                right: 2%;
                bottom: 2%;
                font-size: $xsmall-font;
            }
            @include rwd(960,1199){
                right: 5%;
            }
            @include rwd(1200,1439){
                right: 10%;
            }
            @include rwd(1440,3000){
                right: 20%;
            }
            @media (orientation:landscape) and (max-width: 825px){
                background: rgba(0,0,0,0.6);
                border-radius: 4px;
                padding: 12px;
                bottom: 80px;
            }
            h2{
                font-weight: 100;
                font-style: italic;
                font-size: $large-font;
                @include md{
                    font-size: $xlarge-font;
                }
                @include xxl{
                    font-size: 40px;
                }
            }
            .side-content{
                margin-top: 20px;
                margin-left: 30px;
            @media (min-width:300px) and (max-width:599px) and (orientation:portrait){
                margin-left: 0;
            }
            @include md{
                margin-left: 90px;
    
            }
                h3{
                    margin-bottom: 10px;
                    font-weight: 200;
                }
                p{
                    font-weight: 200;
                }
            }
        }
        .left{
            @extend .banner-content;
            right: 0;
            left: 10%;
            @media (max-width: 768px) and (min-height:500px){
                bottom: 0%;
            }
            @include md{
            bottom: 40%;

            }
            @media (min-width:300px) and (max-width:599px) and (orientation:portrait){
            left: 0;
            }
        }
        .right{  
            @include msm{
                right: 5%;
                bottom: 20%;
            }
        }
        .quote-container{
            justify-content: center;
            background-color: $secondary-black;
            color: $primary-white;
            padding: 60px 0 40px;
            @include xl{
                padding:80px 80px;
                padding-left: 40px;
            }
            .quote{
                letter-spacing: 1px;
                @include md{
                    margin: 0 50px;
                }
                @include mmd{
                    margin: 0 100px;
        
                }
                @include xl{
                    margin: 0 200px;
                }
                h3{
                    font-size: $regular-font;
                    font-family: $bodoni-thin;
                    font-weight: 100;
                    text-align: center;
                    @include xl{
                        font-size: $large-font;
                    }
                }
            }
        }
}